# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Data files (opcjonalnie, jeśli nie chcesz commitować danych)
# *.csv
# *.jpg
# *.png